{% extends 'base.html' %} 
{% block title %}Home{% endblock title %} 
{% block content %}

<!-- Search -->
<!-- <form method="POST" action="{% url 'search_procducts' %}">
  {% csrf_token %}

  <input type="text" name="search" id="" placeholder="Search for products" required>
  <button type="submit">Search</button>
</form>




<h1>Shop</h1>-->
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-6">
  {% for product in products %}
    <div onclick="location.href='{% url 'product_details' product.slug %}'"
         class="bg-white rounded-lg shadow hover:shadow-lg transition duration-300 cursor-pointer flex flex-col items-center p-4">
      <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-40 h-40 object-cover rounded-md mb-4" />
      <h3 class="text-lg font-semibold text-gray-800 hover:text-indigo-600 text-center">{{ product.name }}</h3>
    </div>
  {% endfor %}
</div>


{% endblock content %}